@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500&display=swap');
@import "~react-image-gallery/styles/css/image-gallery.css";
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Lato', sans-serif !important;
  background-color: #111a28 !important;
  color: #fff !important;
}
body::-webkit-scrollbar{
  width:5px;
}
body::-webkit-scrollbar-thumb{
  background-color: #00CF5D;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.img_slider{
  height:500px;
  width:600px;

}


img.image-gallery-image {
    width: 500px !important;
    height:400px !important;
    border-radius:10px !important;
    transform:scale(0.97) !important;
    transition:0.7s !important;
    object-fit:cover !important;
}
img.image-gallery-image:hover{
  transform:scale(1)
}
svg.image-gallery-svg {
    width: 29px !important;
}
img.image-gallery-thumbnail-image {
    width: 88px !important;
    height: 100px !important;
    object-fit: cover;
    border-radius:10px !important;
}

.inputsField{
  border:1px solid #00CF5D !important;
  background:none !important;
  color:white !important;
  padding: 7px !important;
  height: 48px !important;
}
.inputsTextField{
  border:1px solid #00CF5D !important;
  background:none !important;
  color:white !important;
  padding: 7px !important;
}