/* navbar styling */
.mainnavbar{
    border-bottom: 2px solid #34353533;
    position: fixed;
    background: #111a28;
    z-index: 999;
}
.navbar{
    background-color: #111a28 !important;
    position: fixed;
    z-index:999;


}
.navlist{
    text-decoration: none;
    color: white !important;
    margin: 0px 3px;
    padding: 10px;
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
    border-radius: 5px; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid #111a28;
    text-transform: uppercase;
    font-size: 14px;
}
.navlist:hover{
    text-decoration: none;
    border:1px solid #00CF5D;
}
.menu_active{

    background-color: #00CF5D;
}
.burgerMenu{
    background:#00CF5D !important;
    z-index: 999;
}


@media screen and (max-width:375px){
    .burgerMenu{
        background:#00CF5D !important;
        position: relative;
        left: 189px;
        top: -29px;
    }
    span.navbar-brand {
        position: relative;
        top: 10px;
    }
}