.githubIcon{
    color:white;
    padding-left:20px;
}
.githubIcon:hover{
    color:#00CF5D;
}

.See_more_btn{

    padding:10px 30px !important;
    color:white !important;
    text-decoration: none !important;
    border:2px solid #00CF5D !important;
}
.See_more_btn:hover{
    background-color: #00CF5D !important;
}

.filerTabButton{
    padding:8px 20px !important;
    color:white !important;
    text-decoration: none !important;
    border:2px solid #00CF5D !important;
    margin-right:5px !important;
}

.filerTabButton:focus{
    background-color: #00CF5D !important;
}